{% extends 'template_base.html' %}

{% block title %} 
Inicio 
{% endblock %}

{% block content %}
<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="display-3">Bienvenido a Stokphones</h4>
                <p class="lead">Gestione su inventario de manera eficiente y fácil.</p>
                <a href="/inventario" class="btn btn-custom btn-lg">Ver Inventario</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

